DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=smart_maggot
DB_PORT=3306

SECRET_KEY=ganti_dengan_secret_key_yang_panjang
IOT_API_KEY=ganti_dengan_api_key_esp32_yang_panjang

FLASK_ENV=development
FLASK_DEBUG=1
ALLOWED_ORIGIN=*
PORT=5000